.error-wrapper {
    color: #fff;
    font: 400 19px "Comfortaa", sans-serif;
    height: 200px;
    display: grid;
    place-items: center;
    p {
        color: rgb(211, 74, 74);
        display: flex;
        align-items: flex-end;

        span {
            margin: 0 10px;
        }
    }
}
