@import "./Components/config";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    font-family: "Roboto", sans-serif;
    background-color: rgb(24, 22, 36);
    overflow-x: hidden;
}

.logo {
    color: #fff;
    text-align: left;
    position: absolute;
    font-size: 28px;
    margin: 20px;
    &:hover {
        color: $secondary;
    }
}
