@import "../../App.scss";
@import "../config";
.profile {
    color: #fff;
    border-radius: 10px;
    background-color: $primary;
    width: 768px;
    min-height: 300px;
    position: relative;
    margin: 40px auto;
    padding: 20px;
    min-width: 300px;
    overflow: hidden;
    @media (max-width: 768px) {
        width: 90%;
    }
    img {
        display: block;
        transform: translateX(-50%);
        margin: 10px 0;
        position: relative;
        left: 50%;
        // top: 10px;
        width: 180px;
        height: 180px;
        object-fit: cover;
        border-radius: 50%;
        background-color: #fff;
        border: 8px solid rgb(255, 255, 255);
    }
    .name {
        font: 900 45px "Roboto", sans-serif;
        margin: 10px 0 0;
        @media (max-width: 480px) {
            font-size: 36px;
        }
    }
    .username {
        display: inline-block;
        font: 300 14px "Comfortaa", sans-serif;
        cursor: pointer;

        text-decoration: none;
        color: $link;
        margin: 5px 0;
    }
    .bio {
        font: 400 18px "Comfortaa", sans-serif;
        margin: 25px 0;
        color: rgb(202, 198, 189);
    }
    .first-row {
        font: 300 16px "Comfortaa", sans-serif;
        display: flex;

        justify-content: center;
        align-self: center;
        margin: 15px 0;
        p {
            margin: 0 15px;

            min-width: 200px;
            span {
                margin: 0 5px;
            }
        }
        @media (max-width: 768px) {
            display: block;
            p {
                margin: 7px 0;
            }
        }
    }
    .sec-row {
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(188, 175, 235);
        margin: 20px 0 0;
        font: 300 18px "Comfortaa", sans-serif;
        > * {
            background-color: rgba(0, 0, 0, 0.219);
            padding: 16px;
            border-radius: 5px;
            margin: 0 4px;
            width: 150px;
        }
        p {
            margin: 10px 0 0;
            font-size: 13px;
            color: rgb(98, 101, 112);
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;

        top: 0;
        left: 0;
        height: 120px;
        background-color: $secondary;
    }
}
.load-profile {
    display: grid;
    place-items: center;
}
